.content-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1000;
}

.content-container img {
  width: 100%;
  height: 100%;
}

.content-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1000
}

.welcome {
  height: 100%;
  width: 100%;
}

.content {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #34495E;
  height: 432px;
  width: 380px;
}

.home {
  background: rgba(133, 208, 243, 0.6);
  border: 0.5px solid rgba(220, 221, 222);
  border-radius: 25px;
}

.content-register {
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 20px;
}

.content-404 {
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo {
  font-size: 5em;
  padding: 0px;
  margin: 0px;
}

.back-link {
  color: #34495E;
}

.CircularProgressbar-trail {
  stroke: rgba(220, 220, 220, 0.5);
}

.CircularProgressbar-path {
  stroke: rgb(71, 255, 156);
}

.patient-home-header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 600px;
  color: white;
}

.patient-home-background {
  height: 600px;
  z-index: -1000;
  position: absolute;
}

.patient-home-background img {
  height: 600px;
  width: 100%;
  opacity: 0.5;
}

.patient-home {
  width: 78%;
  margin: auto;
  /* position: absolute; */
  z-index: 500;
}

.header-column {
  float: left;
  padding: 10px;
}

.left-col {
  width: 35%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 580px;
}

.right-col {
  width: 65%;
  padding-left: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 580px;
}

.right-col h1 {
  font-size: 6em;
}

.right-col h2 {
  font-size: 3em;
}

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */
