body {
  font-family: 'Raleway', sans-serif;
}

.click-day {
  font-size: 1.5em;
}

.content-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1000;
}

.content-container img {
  width: 100%;
  height: 100%;
}

.content-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1000
}

.welcome {
  height: 100%;
  width: 100%;
}

.my-content {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #34495E;
  height: 432px;
  width: 380px;
}

.home {
  background: rgba(133, 208, 243, 0.6);
  border: 0.5px solid rgba(220, 221, 222);
  border-radius: 25px;
}

.register-form {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #34495E;
}

.content-register {
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 20px;
}

.content-404 {
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo {
  font-family: 'Bad Script', cursive;
  font-size: 5em;
  padding: 0px;
  margin: 0px;
}

.back-link {
  color: #34495E;
}

/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: rgb(71, 255, 156);
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #fff;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: rgb(71, 255, 156);
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}

.patient-home-header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 600px;
  color: white;
}

.patient-home-background {
  height: 600px;
  z-index: -1000;
  position: absolute;
}

.patient-home-background img {
  height: 600px;
  width: 100%;
  opacity: 0.5;
}

.patient-home {
  width: 78%;
  margin: auto;
  /* position: absolute; */
  z-index: 500;
}

.header-column {
  float: left;
  padding: 10px;
}

.left-col {
  width: 35%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 580px;
}

.right-col {
  width: 65%;
  padding-left: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 580px;
}

.right-col h1 {
  font-size: 6em;
}

.right-col h2 {
  font-size: 3em;
  padding-bottom: 0px;
}

.column h2, p {
  text-align: center;
}

.med-time {
  text-align: left;
}

.meds-header {
  text-align: center;
  font-size: 2.5em;
}

.footer {
  padding: 50px;
  width: 100%;
  margin-top: 100px;
  background-color: rgb(0, 172, 164);
  height: 30%;
  color: white;
}

.footer-end {
  width: 100%;
  background-color: rgb(2, 83, 79);
  height: 30px;
  text-align: center;
  padding: 5px;
  color: white;
}

.footer-slogan {
  text-align: left;
  font-size: 1.4em;
}

.footer-header {
  font-size: 1.6em;
}

.footer-links a {
  font-size: 1.2em;
  color: white;
}

.footer-contact a {
  color: white;
}

.footer-logo {
  font-family: 'Bad Script', cursive;
  font-size: 3em;
}

.footer-sig {
  text-align: right;
}

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.modal {
  font-size: 1em;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 2em;
  text-align: center;
  padding: 10px;
}
.modal > .content-modal {
  text-align: center;
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.pillbox {
  width: 100px;
  height: 100px;
}

.pillbox-button {
  border: 3px solid rgb(0, 172, 164);
  border-radius: 10px;
  margin: 5px;
}

.pillbox-buttons {
  width: 100%;
  justify-content: center;
}

.prompt {
  text-align: center;
}
